{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Bootcamp project</h1>
            <p class="lead text-muted">Список сервисов, на которые вы можете подписать и получать
                уведомления!! </p>
<!--            <p>-->
<!--                <a href="#" class="btn btn-primary my-2">first button</a>-->
<!--                <a href="#" class="btn btn-secondary my-2">second button</a>-->
<!--            </p>-->
        </div>
    </section>


    {% if services %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                            {{service.service_names}}</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">1.Service</text>
                        </svg>

                        {% comment %} <div class="card-body"> <!--old-->
                            {% autoescape off %}
                            <p class="card-text">{{service.description|slice:100}}...</p>
                            {% endautoescape %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if user.is_authenticated %}
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Подписаться/отписаться
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">подробнее
                                        </button>
                                    {% else %}
                                <p> <a href="{% url 'login' %}" class="btn btn-primary my-3">Сначала авторизуйтесь, чтобы подписаться</a></p>
                                {% endif %}
                                </div>
                            </div>
                        </div> {% endcomment %}

                        <div class="card-body">
                            {% autoescape off %}
                            <p class="card-text">{{service.description|slice:100}}...</p>
                            {% endautoescape %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    {% if user.is_authenticated %}
                                    <p class="card-text">Notification groups: </p>
                                        {% for notification_gr in notification_groups %}
                                            {% if service == notification_gr.service_name %}
                                                <div class="d-flex justify-content-between">
                                                    {{ notification_gr.group_name }}

                                                    {% if notification_gr in subscripton.notification_group.all %}
                                                        <form action="{% url 'unsubscribe' notification_gr.id %}" method="get">
                                                            <button type="submit" class="btn btn-secondary btn-sm">
                                                                 Отписаться
                                                            </button>
                                                        </form>
                                                    {% else %}
                                                        <form action="{% url 'subscribe' notification_gr.id %}" method="get">
                                                            <button type="submit" class="btn btn-primary btn-sm">
                                                                Подписаться
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <br>

                                        <form action="" method="get">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">подробнее
                                            </button>
                                        </form>

                                    {% else %}
                                        <p> <a href="{% url 'login' %}" class="btn btn-primary my-3">Сначала авторизуйтесь, чтобы подписаться</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}