{% extends "base.html" %}

{% block title %} Templates {% endblock %}

{% block content %}
<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Настройки Шаблонов</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Notification_group</th>
                <th scope="col">Templates</th>
                <th scope="col">Channel</th>
            </tr>
            </thead>
            <tbody>
            {% for template in templates %}
            <tr>
                <th scope="row"><a href="{% url 'template_update' template.id %}">{{ template.ntf_group}}
                </a></th>
                <td>
                    {{ template }}

                </td>
                <td>{{ template.channel }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}